<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Chat Demo</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

  <!-- UnoCSS + Preflight(Reset) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css">
  <style>
    [un-cloak] {
      display: none
    }
  </style>
  <script type="text/javascript">
    // UnoCSS options.
    window.__unocss = {
      rules: [
        ['overflow-anchor-none', { "overflow-anchor": 'none' }],
        ['overflow-anchor-auto', { "overflow-anchor": 'auto' }],
      ],
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>

  <!-- TimeAgo -->
  <script src="https://unpkg.com/timeago.js@4.0.2/dist/timeago.min.js"></script>
  <script type="text/javascript">
    function applyTimeago() {
      // Select only element that has not been processed by timeago yet.
      const els = document.querySelectorAll('.timeago:not([timeago-id])')
      timeago.render(els, 'mini-locale', { minInterval: 10 })
    }

    document.addEventListener('DOMContentLoaded', () => {
      // The defaults locales are too verbose.
      timeago.register('mini-locale', (number, index, totalSec) => {
        return [
          ['now', 'soon'],
          ['%ss', 'in %ss'],
          ['1m', 'in 1m'],
          ['%sm', 'in %sm'],
          ['1h', 'in 1h'],
          ['%sh', 'in %sh'],
          ['1d', 'in 1d'],
          ['%sd', 'in %sd'],
          ['1w', 'in 1w'],
          ['%sw', 'in %sw'],
          ['1mo', 'in 1mo'],
          ['%smo', 'in %smo'],
          ['1yr', 'in 1yr'],
          ['%syr', 'in %syr']
        ][index]
      })

      applyTimeago()
    })
  </script>

  <!-- Custom -->
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      // Check if UnoCSS is loaded by watching the removal of the `un-cloak` attribute from the body.
      // It's a vanilla alternative to `jQuery.ready`.
      const observer = new MutationObserver((mutationList) => {
        mutationList.forEach((mutation) => {
          switch (mutation.type) {
            case "attributes":
              switch (mutation.attributeName) {
                case "un-cloak":
                  // Safe to assume that UnoCSS has loaded.
                  // Scroll to last message.
                  const el = document.querySelector('#messages>li:last-child')
                  el.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" })
                  observer.disconnect()
              }
              break
          }
        });
      });
      observer.observe(document.body, {
        attributeFilter: ["un-cloak"],
      })
    })
  </script>
</head>

<body un-cloak class="bg-coolgray-800 text-coolgray-200 scroll-smooth">
  <div hx-ext="ws" ws-connect="/chatroom" class="flex flex-col p-4 container mx-auto max-h-screen">
    <!-- Header -->
    <div class="flex-none flex justify-between items-center flex-wrap gap-4">
      <div>
        <div class="uppercase"><span class="font-extralight">Chatroom</span> Demo</div>
        {{ block "online" . -}}
        <div id="online" class="text-xs text-coolgray-400" hx-swap-oob="true">{{ .NumUsers }} {{ .NumUsers | plural
          "user" "users" }}</div>
        {{- end }}
      </div>

      <div>
        <span class="text-lightblue-200 text-sm">{{ .User.Name }}</span>
      </div>
    </div>

    <!-- Chat messages -->
    <ul id="messages" class="flex-initial grow mt-4 space-y-2 overflow-y-scroll transition-all"
      hx-on::load="applyTimeago()">
      {{- range .Messages }}
      {{- block "message" dict "User" $.User "Message" . }}
      {{- $isCurrentUser := eq .Message.User.ID .User.ID }}
      <li class="{{ if $isCurrentUser }}flex justify-end {{ end }}overflow-anchor-none">
        <div
          class="w-fit flex flex-col px-3 py-2 mr-4 text-xs bg-coolgray-700 border-t-1 border-t-coolgray-500 border-t-opacity-50 shadow-sm bg-opacity-50 rounded-md">
          {{ if not $isCurrentUser }}<div class="font-semibold">{{ .Message.User.Name }}</div>{{ end }}
          <div class="{{ if not $isCurrentUser }}mt-1 {{ end }}flex flex-justify-between gap-2">
            <div class="flex-nowrap font-light break-words">{{ .Message.Content }}</div>
            <div
              class="timeago self-end shrink-0 mt-1 text-[0.65rem] line-height-[0.80rem] font-light text-coolgray-400"
              datetime="{{ .Message.Time }}">
            </div>
          </div>
        </div>
      </li>
      {{- end }}
      {{- end }}
      <li class="overflow-anchor-auto h-0.5"><!-- ANCHOR: DO NOT REMOVE --></li>
    </ul>

    <!-- Form -->
    {{ block "form" . -}}
    <form id="form" hx-swap-oob="true" class="flex-none mt-4" ws-send
      hx-on::load="this.querySelector('input[name=chat_message]').focus()">
      <input name="chat_message" type="text" placeholder="Type here" {{ if .Disabled }}disabled {{ end }}maxlength="256"
        required
        class="w-full px-3 py-2 text-sm bg-coolgray-700 bg-opacity-70 border-1 border-coolgray-600 outline-none ring-0 focus:ring-1 focus:ring-coolgray-600 transition-all disabled:opacity-40 disabled:cursor-not-allowed rounded-md">
    </form>
    {{- end }}

    <!-- Error -->
    {{ block "error" . -}}
    <div id="error" hx-swap-oob="true">
      {{- if .Error }}
      <div class="flex-none text-red mt-2 text-xs capitalize">{{ .Error }}</div>
      {{- end }}
    </div>
    {{- end }}

    <!-- Footer -->
    <div class="flex-none mt-4 text-xs text-center text-coolgray-400">Copyright (c) {{ now | date "2006" }}. All rights
      reserved.
    </div>
  </div>
</body>

</html>